<div id="chores-list">
	<ul>
	{{#each choresList}}
	<li>
		<div class="chore">
			<b>{{dateFormat this.time "YYYY-MM-D"}}</b>:
		{{this.chore}}
				<form action="/delete/{{this.id}}" method="get">
					<button>Poista</button>
				</form>
		
				<form action="/edit/{{this.id}}" method="get">
					<button>Muokkaa</button>
				</form>
		</div>
		</li>
	{{/each}}
	</ul>
</div>