<div id="chore">
	<h1>Muokkaa kotityötä</h1>
	<p>Alkuperäinen: {{chore.chore}}</p>
	<form action="/edited/{{chore.id}}" method="POST">
	<input type="text" name="chore"></input>
	<button>Muokkaa</button>
	</form>
</div>